@using Microsoft.Extensions.Localization
@model ActiveLogin.Authentication.BankId.AspNetCore.Areas.BankIdAuthentication.Models.BankIdLoginViewModel
@inject IStringLocalizer<ActiveLogin.Authentication.BankId.AspNetCore.BankIdHandler> Localizer

@{
    ArgumentNullException.ThrowIfNull(Model);
}

<form id="bankIdLoginForm">
    <input name="RequestVerificationToken" type="hidden" value="@Model.AntiXsrfRequestToken">
    <input name="ReturnUrl" type="hidden" value="@Model.ReturnUrl" />
    <input name="CancelReturnUrl" type="hidden" value="@Model.CancelReturnUrl" />
    <input name="LoginOptions" type="hidden" value="@Model.LoginOptions" />
    <input name="AutoLogin" type="hidden" value="@(Model.AutoLogin ? "true" : "false")" />

    <fieldset>
        @if (!Model.AutoLogin)
        {
            <div class="form-group mb-2">
                <label for="bankIdLoginPersonalIdentityNumber">@Localizer["PersonalIdentityNumber_Label"]</label>

                <input id="bankIdLoginPersonalIdentityNumber" name="PersonalIdentityNumber" type="tel" class="form-control" placeholder="@Localizer["SignIn_SwedishPersonalIdentityNumber_Placeholder"]" value="@Model.PersonalIdentityNumber" autofocus required style="text-align: center;" />
            </div>

            <button type="submit" class="btn btn-primary btn-block">
                <span class="submit-text">@Localizer["SignIn_Button"]</span>
                <span class="status-spinner" style="display: none;">
                    <partial name="_spinner" />
                </span>
            </button>
        }
    </fieldset>
</form>
