@using Microsoft.Extensions.Localization
@model ActiveLogin.Authentication.BankId.AspNetCore.Areas.BankIdAuthentication.Models.BankIdLoginViewModel
@inject IStringLocalizer<ActiveLogin.Authentication.BankId.AspNetCore.BankIdHandler> Localizer

<div id="bankIdLoginStatus" style="display: @(Model.AutoLogin ? "block" : "none");">

    <img src="" alt="@Localizer["Qr_Code_Image"]" class="qr-code-image img-thumbnail img-fluid mb-2" style="display: none;" />

    <div class="card status-wrapper">
        <div class="card-body">
            <div class="status-spinner">
                <partial name="_spinner"/>
            </div>

            <div class="status-message">@Model.LoginScriptOptions.InitialStatusMessage</div>
        </div>
    </div>
    
    <button id="bankIdLoginStartApp" type="button" class="btn btn-primary btn-block mt-2" style="display: none;">
        @Localizer["BankIdUserMessage_ShortName_RFA18"]
    </button>

    <button type="button" class="btn btn-link btn-block btn-cancel mt-2">
        @Localizer["Cancel_Button"]
    </button>

</div>
