@model IdentityServer.ServerSample.Models.HomeIndexViewModel
@{
    ViewData["Title"] = "Demo";
}

<h1 class="text-center">Active Login</h1>
<h2 class="text-center">IdentityServerSample</h2>

<h2 class="h4 m2-1 mt-5 text-center">Welcome @Model.GivenName!</h2>
<div class="card">
    <div class="card-body">
        <dl>
            <dt>Given name</dt>
            <dd>@Model.GivenName</dd>

            <dt>Family name</dt>
            <dd>@Model.FamilyName</dd>

            <dt>Full name</dt>
            <dd>@Model.Name</dd>

            <dt>Swedish personal identity number</dt>
            <dd>@Model.SwedishPersonalIdentityNumber</dd>

            <dt>Birthdate</dt>
            <dd>@Model.Birthdate</dd>

            <dt>Gender</dt>
            <dd>@Model.Gender</dd>
        </dl>
    </div>
</div>

<h2 class="h4 m2-1 mt-5 text-center">All claims</h2>
<div class="card">
    <div class="card-body">
        <dl>
            @foreach (var claim in Model.Claims)
            {
                <dt>@claim.Type</dt>
                <dd>@claim.Value</dd>
            }
        </dl>
    </div>
</div>

@if (User.Identity?.IsAuthenticated == true)
{
    <div class="mt-4">
        <form method="post" asp-area="" asp-controller="Account" asp-action="Logout">
            <input type="submit" value="Logout" class="btn btn-info btn-block" />
        </form>
    </div>
}
